page-rating {
    #menu ul{
        list-style : none;
    }
    #menu li{
        display: inline;
    }
}

.stars{
    height: 70px;
    width: 70px;
    display: inline-block;
}


.check{
    color: yellow !important;
}

.fa-star{
    font-size: 24px;
    margin: 0 5px;
}

.star-container{
    text-align: center;
}
.SubBut{
    color:Blue;
  
    font-size:17px;
    padding: 15px 32px;
    height: 15px;
    
   
    vertical-align: middle;
}