page-profile {
    ion-title: white
}
page-profile {
    ion-navbar: white

}
div.a {
    text-align: center;
    
}

#profileContainer{
    //margin: auto;
    background-image: url("../assets/imgs/David.png");
    text-align: center;
    margin-top: 35%;

    
}
#background{
    background-image: url("../assets/imgs/profileBG.jpg");
    width:100%;
    height:200px;
    position: absolute;
    z-index: -1;
    background-size: cover;
    margin-left: -15px;
    margin-top: -20px;
    float: left;
}
#FacetimeButton{
    height:50px;
    width:250px;
}
.stars{
    width:200px;
    height:80px;

}
.dino{
    width:90px;
    height:90px;
    display: block;
    margin: auto;
    
}



